{% extends 'view/layout/base.html' %}

{% block body %}
{% set cliente = data.cliente %}

<div class="level-left">
  <div class="level-item">
    <h1 class="title is-1">
      {{"Editando cliente ID: " + cliente.id if cliente.id else "Nuevo cliente"}}
    </h1>
  </div>
  <div class="level-item">
    <span><a class="button is-link" href="/cliente">Cancelar</a></span>
  </div>
</div>

<hr />

<form action="/cliente/save" method="POST" enctype="application/json">
  <input type="hidden" name="id" value="{{cliente.id}}" readonly />

  <div class="field">
    <label class="label">Nombre</label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="nombre"  placeholder="Nazareno" value="{{cliente.nombre}}" />
      <span class="icon is-small is-left">
        <i class="fas fa-signature"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Apellido</label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="apellido" placeholder="Avalos" value="{{cliente.apellido}}" />
      <span class="icon is-small is-left">
        <i class="fas fa-compress"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Tipo-DNI</label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="tipo-dni"  value="{{cliente.tipoDni}}" />
      <span class="icon is-small is-left">
        <i class="fas fa-compress"></i>
      </span>
    </div>
  </div>

  <div class="field">
    
    <label class="label">Nro-DNI</label>
    <div class="control has-icons-left">
      <input class="input" type="number" name="nro-dni"  value="{{cliente.nroDni}}" />
      <span class=" icon is-small is-left">
        <i class="fas fa-shield-alt"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Direccion</label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="direccion" 
        value="{{cliente.direccion}}" />
      <span class="icon is-small is-left">
        <i class="fas fa-map-marked"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Telefono</label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="telefono" placeholder="1133844810" value="{{cliente.telefono}}" />
      <span class="icon is-small is-left">
        <i class="fas fa-phone"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="email" placeholder="example@gmail.com"
        value="{{cliente.email}}" />
      <span class="icon is-small is-left">
        <i class="fas fa-globe"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Nacimiento</label>
    <div class="control has-icons-left">
      <input class="input" type="text" name="nacimiento" placeholder="13-10-2000" value="{{cliente.nacimiento}}" />
      <span class="icon is-small is-left">
        <i class="fas fa-globe"></i>
      </span>
    </div>
  </div>
  <input type="submit" class="button is-primary is-large" value="Guardar" />
  <hr />
</form>
{% endblock %}