{% extends 'view/layout/base.html' %}

{% block body %}
{% set auto = data.auto %}
{% set alquileres = data.alquileres %}

<div class="level-left">
  <div class="level-item">
    <h1 class="title is-1">
      {{"Alquilando auto ID: " + auto.id if auto.id else "Nuevo auto"}}
    </h1>
  </div>
  <div class="level-item">
    <span><a class="button is-link" href="/auto">Cancelar</a></span>
  </div>
</div>

<hr />

<form action="/auto/rented" method="POST" enctype="application/json">
  <input type="hidden" name="id" value="{{auto.id}}" readonly />

  <div class="field">                           
    <label class="label">Alquilar desde</label> 
    <div class="control has-icons-left"> 
      
      <input class="input" type="date" name="desde" style="display: inline; width: 40vh;" 
                        id="fecha-desde">
      <span class="icon is-small is-left">
        <i class="fas fa-signature"></i>
      </span>
    </div>
  </div>

  <div class="field">                           
    <label class="label">Alquilar hasta</label> 
    <div class="control has-icons-left"> 
      
      <input class="input" type="date" name="hasta" style="display: inline; width: 40vh;" 
                        id="fecha-hasta">
      <span class="icon is-small is-left">
        <i class="fas fa-signature"></i>
      </span>
    </div>
  </div>

  <div class="field">                           
    <label class="label">DNI</label> 
    <div class="control has-icons-left"> 
      
      <input class="input" type="text" name="dni" style="display: inline; width: 40vh;" 
                        id="dni">
      <span class="icon is-small is-left">
        <i class="fas fa-signature"></i>
      </span>
    </div>
  </div>

  <div class="field">                           
    <label class="label">Telefono</label> 
    <div class="control has-icons-left"> 
      
      <input class="input" type="text" name="telefono" style="display: inline; width: 40vh;" 
                        id="telefono">
      <span class="icon is-small is-left">
        <i class="fas fa-signature"></i>
      </span>
    </div>
  </div>

  <div class="field">                           
    <label class="label">Mail</label> 
    <div class="control has-icons-left"> 
      
      <input class="input" type="text" name="mail" style="display: inline; width: 40vh;" 
                        id="mail">
      <span class="icon is-small is-left">
        <i class="fas fa-signature"></i>
      </span>
    </div>
  </div>



  <input type="submit" class="button is-primary is-large" value="Alquilar" />
  <hr />
</form>

<div class="level-left">
  <div class="level-item">
    <h1 class="title is-1">
      {{"Fechas no disponibles " }}
    </h1>
  </div>
 
  
</div>

{% for alquiler in alquileres %}
  

<div>
  
  {{"Desde " + alquiler.desde + " Hasta"+ alquiler.hasta}}
</div>

{% endfor %}

{% endblock %}