{% extends 'view/layout/base.html' %}

{% block body %}
<h1 class="title is-1">Índice de autos</h1>

{% for error in errors %}

<div class="notification is-danger">
    {{error}}
</div>
{% endfor %}

{% for message in messages %}
<div class="notification is-success">
    {{message}}
</div>

{% endfor %}
<nav class="level-left">
    <div class="level-item">
        <a href="/cliente/create" class="button is-primary is-large">
            <span class="icon"><i class="fa-solid fas fa-user"></i></span>
            <span>Agregar Cliente</span>
        </a>
    </div>
    <div class="level-item">
        <a href="/auto/create" class="button is-primary is-large">
            <span class="icon"><i class="fa fas fa-car"></i></span>
            <span>Agregar Auto</span>
        </a>
    </div>
</nav>

<div class="table-container">
    <table class="table is-striped is-hoverable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Kms</th>
                <th>Color</th>
                <th>Aire</th>
                <th>Pasajeros</th>
                <th>Manual</th>
                <th>Automatico</th>
                <th>Precio</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <!-- el tfoot va después del thead en caso de que el contenido sea muy largo -->
        <tfoot>
           
        </tfoot>
        <tbody>
            {% for auto in data.autos %}

            <tr>
                <td>{{auto.id}}</td>
                <td>{{auto.marca}}</td>
                <td>{{auto.modelo}}</td>
                <td>{{auto.año}}</td>

                <td>{{auto.kms}}</td>
                <td>{{auto.color}}</td>
                <td>{{auto.aire}}</td>
                <td>{{auto.pasajeros}}</td>
                <td>{% if auto.manual == 1 %}
                    si
                    {% else %}
                    no
                    {% endif %}</td>
                <td>{% if auto.automatico == 1 %}
                    si
                    {% else %}
                    no
                    {% endif %}</td>
                <td>
                    {{auto.precio}}
                </td>
                <td>
                    <a href="/auto/view/{{auto.id}}"><span class="icon"><i class="fas fa-edit"></i></span>editar</a>
                </td>
                <td>
                    <a href="/auto/delete/{{auto.id}}" class="action-delete" data-id="{{auto.id}}">
                        <span class="icon"><i class="fas fa-trash"></i></span>eliminar
                    </a>
                </td>
                
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block footerScripts %}
<script src="/public/js/auto.index.js"></script>
{% endblock %}